/*Desenvolvido por Levi Barbosa
https://github.com/levibarbosatec
https://www.linkedin.com/in/iamjohnlevi/
*/

:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 100%;
}
/*elementos base*/
body{
    background: var(--preta);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: space-between;
}
/*Logo*/
header .logo{
    width: 8%;
    height: 5%;
    margin: 15px 20px 15px 30px;
    color: var(--vermelho);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
/*MENU DE OPÇÕES*/
header nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter ;
}
header nav a inicio{
    color: white;
}

header nav a:hover{
    color: #aaa;

}
/*BUSCA*/
header .search{
    margin-left: 600px;
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    text-align: unset;
    cursor: pointer;   
}

header .perfil{   
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-items: space-between;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    
}


header .search{
    margin-left: 530px;
    display: block;
    color: white;
    flex-direction: row;
    align-items: center ;
    justify-items: space-between;
    cursor: pointer;
    transition: .3s ease all;
}
/*Foto do perfil*/
header .foto-perfil{
    margin-left: 10px;
    width: 60%;
    height: 60%;
    
    
} 
/*Menu do Perfil*/
header .more {
    margin-left: -30px;
    text-decoration:none;
    display: flex;
    color: white;
    flex-direction: row;
    cursor: pointer;
}

/*Codigo do video*/

.media-container{
    margin-left: 0px;
    padding: 0px;
    display: block;
    width: 1360px;
    height: 768px;
}

.containner figure.filme-principal{
    position: absolute;
    margin-top: 0px;
}
/*Final do código*/

/*filme principal*/
.filme-principal{
    font-size: 16px;
    margin: 0px;
    display: flexbox;
    /*background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/capa-dr-strange.jpg'); */

    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;

}

/*Botões*/
.filme-principal .btn1{
    width: 60%;
    height: 50px;
    margin-bottom: 210%;
    margin-left: 4%;
    position: absolute;
}
.filme-principal .btn2{
    width: 50%;
    height: 50px;
    margin-bottom: 210%;
    margin-left: 35%;
    position: absolute;
}

/*Titulo do Filme*/
.filme-principal .titulo{
    width: 60%;
    height: 50%;
    margin-bottom: 300%;
    margin-left: 2%;
    align-items: flex-start;
    
    background: linear-gradient(rgba(255, 252, 252, 0.5),rgba(87, 1, 1, 0.5)100%);
    padding: 20px;
    border-radius: 5px;
    
}

/*Descrição do Filme*/
.filme-principal .descricao{
    position: absolute;
    color: #ffffff;
    width: 160%;
    height: 20%;
    margin-bottom: 245%;
    margin-left: 0%;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-family: Arial;
    text-align: left;
    
    background: linear-gradient(rgba(0, 0, 0, 0.226),rgba(0, 0, 0, 0.177)100%);
    padding: 4%;
    border-radius: 0px 0px 0px;
}





.filme-principal.container{
    margin-left: 20px;
    margin-bottom: 5px;
    width: 70%;
    position: absolute;
}


.box-filme{
    height: 100%;
    width: 10%;
    display: block;
}

.carosel-filmes{
    margin-top: 10px;
}

.lancamentos{
    font-size: 20px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/gUNRlH66yNDH3NQblYMIwgZXJ2u.jpg');

    height: 5
    0px;
    background-size: cover;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    
    
    
}

.lancamentos h2{
    margin: 15px;
}


/*LEGAL NÉ? EM BREVE TEM MAIS! BORA PARA O PRÓXIMO?*/